* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #131D36;
}

#mapContainer {
    width: 100%;
    height: 100vh;
    display: flex;
}

#viewMap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewMap img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#heroContainer{
    width: 100%;
    height: 100%;    
    position: relative;
    display: none;
}

.filter-section {
    width: 33.333333333%;
    height: 100%;
    overflow: hidden;
}
.imgPorte {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
}

.filter-section:hover {
    filter: grayscale(0%);
    transition: 0.7s;
    position: relative;
    display: flex;
}
.filter-section img:hover{
    transform: scale(1.05);
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.left img{
    width: 100vw;
    height: 100vh;
    object-position: left;
    object-fit: cover;
    border: 1px solid violet
}

.center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid violet
}

.right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    border: 1px solid violet
}

button {
    border-radius: 50px;
    border: none;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 122, 56);
    position: absolute;
}
button:hover{
    cursor:pointer;
}