#burgermenu {
    position: fixed;
    top: 24px;
    right: 25%;
    width: 55px;
    height: 55px;
    z-index: 100;
}

#burgermenu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    z-index: 100;
}

#burgermenu:hover{
    cursor:pointer;
}

#menuContainer {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    padding: 24px;
    z-index: 99;
    right: 0;
    /* border: 2px solid #EB6316; */
    /* float: right; */
    background-color: white;
}

#navContainer a{
    font-family: "Veneer"; 
    font-size: 20px;
    margin: 0 0 16px 0;
    color: #EB6316;
}

#navContainer ul {
    list-style: none;
}
#navContainer li {
    padding: 12px;
}

@media screen and (max-width: 767px) {
    #burgermenu {
        position: fixed;
        top: 24px;
        right: 24px;
        width: 55px;
        height: 55px;
        z-index: 100;
    }
}