@media screen and (min-width: 767px) {
    
#background_image_homepage{
        width: 1440px;
        height: 720px;
        position: relative;
        left: calc(50% - 720px);
    }

    #background_image_homepage > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    #forges{
        position: absolute;
        top: -15px;
        left: 15px;
        z-index: 0;
    }
    #forges img, #papeteries img, #usine img{
        object-fit: cover;
    }

    #papeteries{
        position: absolute;
        top: 145px;
        left: 35px;
        z-index: 0;
    }

    #usineDuport{
        position: absolute;
        top: 500px;
        left: 79px;
        z-index: 0;
    }

    #titleHomepage{
        width: 40%;
        margin-left: 30%;;
        position: absolute;
        top: 300px;
        text-align: center;
        color: white;
        background-color: transparent;
        font-size: 32px;
    }

    #cadreHomepage{
        position: absolute;
        width: 294px;
        height: 638px;
        left: calc(50% - 147px);
        top: calc(50% - 319px);
        border: 2px solid #FFFFFF;
        overflow: hidden;
    }

    .logoToHomepage{
        display: none;
        position: fixed;
        width: 25px;
        height: auto;
        left: 25%;
        top: 15px;
        z-index: 0;
    }
    .logoToHomepageAbout{
        display: block;
        position: absolute;
        width: 25px;
        height: auto;
        left: 25%;
        top: 15px;
        z-index: 0;
    }
    /* #logoHomepage img{
        object-fit: cover;
    } */
    .avis{
        width: 25%;
        height: 200px;
        min-height: 200px;
        margin: 24px;
        /* border: 2px solid #EB6316; */
    }
    .avis img{
        width: 40px;
        height: 40px;
        margin: 12px;
        /* object-fit: cover; */
    }
    #firstLine{
        width: 100%;
        height: fit-content;
        min-height: 25%;
        background-color: #EB6316;
        /* border: 1px solid green; */
    }
    #firstLine h3{
        color: #FFFFFF;
        font-family: "Veneer";
        font-weight: normal;
    }
    #secondLine{
        width: 100%;
        height: fit-content;
        min-height: 75%;
        background-color: #FFFFFF;
        /* border: 1px solid cyan; */
    }
    #secondLine p{
        width: 100%;
        height: fit-content;
        font-size: 15px;
    }
}


#addressContainer {
    width: 100%;
    height: fit-content;
    font-family: 'Futura';
    font-style: normal;
    font-size: 18px;
    margin: 12px 0 24px 0;
}


#adress {
    margin: 0 24px 0 0;
    font-weight: 400;
}


.little-title {
    font-size: 16px;
    color: #EB6316;
    font-family: 'Veneer';
    text-align: left;
}

.little-title h1 {
    font-weight: normal;
    font-family: 'Veneer';
}

#mapContainer iframe {
    border: 2px solid #EB6316 !important;
}

/* ########################################### MEDIA QUERIE #####################################*/

@media screen and (max-width: 767px) {

#background_image_homepage{
        width: 100vw;
        height: 667px;
        position: relative;
        /* z-index: -1; */
        left: calc(50% - 50vw);
        /* margin-top: 24px; */
    }

    #background_image_homepage > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #forges{
        position: absolute;
        top: -15px;
        left: 16px;
        z-index: 0;
    }
    #forges img, #papeteries img, #usine img{
        object-fit: cover;
    }

    #papeteries{
        position: absolute;
        top: 137px;
        left: 39px;
        z-index: 0;
    }

    #usineDuport{
        position: absolute;
        top: 458px;
        left: 77px;
        z-index: 0;
    }

    #titleHomepage{
        position: absolute;
        top: 275px;
        left: 0;
        z-index: 0;
        padding: 16px;

    }
    #cadreHomepage{
        position: absolute;
        width: 294px;
        height: 595px;
        left: calc(50% - 147px);
        top: calc(50% - 300px);
        border: 2px solid #FFFFFF;
        overflow: hidden;
    }
    .logoToHomepage{
        display: block;
        position: fixed;
        width: 25px;
        height: auto;
        left: 30px;
        top: 15px;
        z-index: 0;
        transition: 0.5s;
    }
    .logoToHomepageAbout{
        display: block;
        position: absolute;
        width: 25px;
        height: auto;
        left: calc(50% - 157px);
        top: 15px;
        z-index: 0;
    }
    
    #rencontre {
        text-align: left;
    }

    #addressContainer {
        flex-direction: column; 
    }
    
    #adress {
        margin: 0 0 0 0;
        padding: 0 0 12px 0;
    }
    .avis{
        width: 100%;
        height: 200px;
        margin: 24px;
        padding: 0 24px 0 24px;
        /* border: 2px solid #EB6316; */
        flex-direction: column;
    }
    .avis img{
        width: 40px;
        height: 40px;
        margin: 12px;
        /* object-fit: cover; */
    }
    #avisContainer{
        flex-direction: column;
        
    }
    #firstLine{
        width: 100%;
        height: 25%;
        background-color: #EB6316;
        /* border: 1px solid green; */
    }
    #firstLine h3{
        color: #FFFFFF;
        font-family: "Veneer";
    }
    #secondLine{
        width: 100%;
        height: 75%;
        background-color: #FFFFFF;
        font-weight: normal;
        /* border: 1px solid cyan; */
    }
    #secondLine p{
        width: 100%;
        height: fit-content;
        font-size: 15px;
    }
}



/*
#forgesV2:hover, #papeteriesV2:hover, #usineDuportV2:hover {
    animation-play-state: paused;
}
*/