@media screen and (min-width: 980px) {
    
#background_image_homepage{
        width: 1440px;
        height: 720px;
        position: relative;
        left: calc(50% - 720px);
    }

    #background_image_homepage > img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }


    #forges{
        position: absolute;
        top: -15px;
        left: 15px;
        z-index: 0;
    }
    #forges img, #papeteries img, #usine img{
        object-fit: cover;
    }

    #papeteries{
        position: absolute;
        top: 145px;
        left: 35px;
        z-index: 0;
    }

    #usineDuport{
        position: absolute;
        top: 500px;
        left: 79px;
        z-index: 0;
    }

    #titleHomepage{
        width: 40%;
        margin-left: 30%;;
        position: absolute;
        top: 300px;
        text-align: center;
        color: white;
        background-color: transparent;
        font-size: 32px;
    }

    #cadreHomepage{
        position: absolute;
        width: 294px;
        height: 638px;
        left: calc(50% - 147px);
        top: calc(50% - 319px);
        border: 2px solid #FFFFFF;
        overflow: hidden;
    }

    .logoToHomepage{
        display: none;
        position: fixed;
        width: 25px;
        height: auto;
        left: 25%;
        top: 15px;
        z-index: 0;
    }
    /* #logoHomepage img{
        object-fit: cover;
    } */
}

/* ########################################### MEDIA QUERIE #####################################*/

@media screen and (max-width: 980px) {
   
   #background_image_homepage{
        width: 375px;
        height: 667px;
        position: relative;
        /* z-index: -1; */
        left: calc(50% - 187.5px);
        /* margin-top: 24px; */
    }

    #background_image_homepage > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #forges{
        position: absolute;
        top: -15px;
        left: 42px;
        z-index: 0;
    }
    #forges img, #papeteries img, #usine img{
        object-fit: cover;
    }

    #papeteries{
        position: absolute;
        top: 132px;
        left: 63px;
        z-index: 0;
    }

    #usineDuport{
        position: absolute;
        top: 456px;
        left: 101px;
        z-index: 0;
    }

    #titleHomepage{
        position: absolute;
        top: 275px;
        left: 0;
        z-index: 0;
        padding: 16px;

    }
    #cadreHomepage{
        position: absolute;
        width: 294px;
        height: 595px;
        left: calc(50% - 147px);
        top: calc(50% - 300px);
        border: 2px solid #FFFFFF;
        overflow: hidden;
    }
    .logoToHomepage{
        display: none;
        position: fixed;
        width: 25px;
        height: auto;
        left: 30px;
        top: 15px;
        z-index: 0;
        transition: 0.5s;
    }
    /* #logoHomepage img{
        object-fit: cover;
    } */

    
}