*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
@font-face {
    font-family: 'Veneer';
    src: url("/fenetreSurHeritage/fonts/Veneer/Veneer/Veneer.ttf") format("truetype");
}
@font-face {
    font-family: 'Futura';
    src: url("/fenetreSurHeritage/fonts/Futura/Futura.ttc") format("truetype");
}

body,html{
    background-color:whitesmoke;
    color:black;
    font-family:'Veneer';
    overflow-x: hidden;
}

a{
    text-decoration:none;
    color:none;
}
.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.flex-start{
    display:flex;
    justify-content: center;
    align-items: start;
}
.flex-row{
    flex-direction:row;
}
.flex-column{
    flex-direction:column;
}
.flex-wrap{
    flex-wrap:wrap;
    /* flex-grow: ; */
}
.fixed{
    position:fixed;
}
/* .none{
    display: none;
    transition: 0.5s;
}
.block{
    display: block;
    transition: 0.5s;
} */
#galleryContainer{
    width:100%;
    height:fit-content;
    padding-top: 24px;
    /* border: 1px solid green; */
}
#gallery{
    width:820px;
    height:fit-content;
    padding-bottom: 24px;
    /* border:1px solid red; */
}
#gallery img{
    width: 300px;
    height: auto;
    padding: 24px;
}
#mainTitles{
    position: relative;
    margin-top: 80px;
}

#error404 {
    width:100%;
    height:100vh;
    background-image: url("/fenetreSurHeritage/images/desktop/mapDesktop.jpg");
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#error404 p {
    font-size: 70px;
    font-family: 'Veneer';
    max-width: 350px;
    line-height: 1.2;
    color: white;
    position: absolute;
    text-align: center;
    top: 65%;
    text-shadow: 0px 0px 10px black;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

a {
    color: white;
}

/* ########################################### MEDIA QUERIE #####################################*/
@media screen and (min-width: 980px) {


    .article{  
        width: 820px;
        height: fit-content;
        margin-left: calc(50% - 410px);
        flex-direction: row;
        /* border: 1px solid green; */
    }
    .article h1{
        color:#EB6316;
    }
    .article p{
        color: black;
    }
    .img-center-resp{
        width: 100%;
        height: 458px;
        margin: 19px 0px 24px 0px;
    }

    .img-center-resp img{
        width: 327px;
        height: 100%;
    }

    .img-center-resp-carre{
        width: 100%;
        height: 326px;
        margin: 24px 0px 24px 0px;
    }

    .img-center-resp-carre img{
        width: 326px;
        height: 100%;
    }

    .text-left{
        width: 100%;
        height: fit-content;
        text-align:left;
        padding: 12px 24px 12px 24px;
        z-index: 2;
    }
    .text-left p{
        width: 400px;
    }
    
    #problem{
        background-color: whitesmoke;
        color: #EB6316;
        width: 80%;
        position: relative;
        left: calc(50% - 40%);
    }

    #problem h1{
        width: 400px;
    }

    .text-right{
        width: 100%;
        height: fit-content;
        text-align:right;
        padding: 12px 24px 12px 24px;
        float: right;
        z-index: 2;
        margin: 0 0px 12px 0; /* POUR CHANGER L'ALIGNEMENT DES TEXTES */
        
    }

    .semi-sized{
        width: 50%;
    }

    .seven-zero-sized{
        width: 70%;
    }

    .heigt-zero-sized{
        width: 80%;
    }
    
    .heigt-five-sized{
        width: 85%;
    }

    p{
        font-family: 'Futura';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        z-index: 100;
    }
    
    .frame-exp{
        border: 2px solid #EB6316;
        background-color: whitesmoke;
        position: relative;
        margin: 0 32px 175px 32px;
        
    }
    .shadow-left{
        box-shadow: -10px 10px 0px #EB6316;
        right: 250px;
    }
    .shadow-right{
        box-shadow: 10px 10px 0px #EB6316;
        left: 250px;
    }

    #playstoreBadge {
        display: none;
        height: 50px;
        width: 100%;
        margin: 12px 0 12px 0;
    }
    
    #playstoreBadge img {
        height: 100%;
        width: 150px;
    }

    .page-title {
        background-color: #EB6316;
        color: white;
        margin: 24px 0 12px 0;
    }
    .article-title {
        background-color: whitesmoke;
        color: #EB6316;
        /* margin: 12px 0 12px 0; */
    }
    .page-title h1{
        font-weight: bold;
        font-family: "Veneer";
    }
    .article-title h1{
        font-weight: bold;
        font-family: "Veneer";
        
    }
    .big-title{
        font-size: 34px;
    }
    .empty-bloc{
        height: 500px;
        width: 100%;
    }
}

/* ########################################### CSS FOR BLOC FUNCTION #####################################*/

@media screen and (max-width: 980px) {

    #error404 {
        height: 80vh;
    }

    #error404 img{
        height: 60%;
    }

    #error404 p{
        max-width: 200px;
        font-size: 50px;
        top: 50%;
    }
    #mainTitles{
        position: relative;
        margin-top: 80px;
    }

    .article{
        width:100%;
        height:fit-content;
        flex-direction: column;
    }
    .img-center-resp{
        width: 100%;
        height: 458px;
        margin: 24px 0px 24px 0px;
    }
    .img-center-resp img{
        width: 327px;
        height: 100%;
    }
    .img-center-resp-carre{
        width: 100%;
        height: 326px;
        margin: 24px 0px 24px 0px;
    }
    .img-center-resp-carre img{
        width: 326px;
        height: 100%;
    }
    .text-left{
        width: 100%;
        height: fit-content;
        text-align:left;
        padding: 12px 24px 12px 24px;
        z-index: 2;
    }
    .text-right{
        width: 100%;
        height: fit-content;
        text-align:right;
        padding: 12px 24px 12px 24px;
        float: right;
        z-index: 2;
        margin: 0 0px 12px 0; /* POUR CHANGER L'ALIGNEMENT DES TEXTES */
        
    }
    .semi-sized{
        width: 50%;
    }
    .seven-zero-sized{
        width: 70%;
    }
    .heigt-zero-sized{
        width: 80%;
    }
    .heigt-five-sized{
        width: 85%;
    }

    p{
        font-family: 'Futura';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 27px;
        z-index: 100;
        padding-bottom: 24px;
    }
    
    .frame-exp{
        border: 2px solid #EB6316;
        background-color: whitesmoke;
        position: relative;
        margin: 0 32px 175px 32px;
        
    }
    .shadow-left{
        box-shadow: -10px 10px 0px #EB6316;
    }
    .shadow-right{
        box-shadow: 10px 10px 0px #EB6316;
    }

    #playstoreBadge {
        display: flex;
        height: 50px;
        width: 100%;
        margin: 12px 0 12px 0;
    }
    
    #playstoreBadge img {
        height: 100%;
        width: 150px;
    }

    .page-title {
        background-color: #EB6316;
        color: white;
        margin: 24px 0 12px 0;
    }
    .article-title {
        background-color: whitesmoke;
        color: #F0821B;
        /* margin: 12px 0 12px 0; */
    }
    .page-title h1{
        font-weight: bold;
        font-family: "Veneer";
    }
    .article-title h1{
        font-weight: bold;
        font-family: "Veneer";
        
    }
    .big-title{
        font-size: 34px;
    }
    .empty-bloc{
        height: 500px;
        width: 100%;
    }

}

